<% for column in Question.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @question.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @question %> |
<%= link_to 'Back', :action => 'list' %>
