<%= error_messages_for 'option' %>

<!--[form:option]-->
<p><label for="option_content">Content</label><br/>
<%= text_area 'option', 'content'  %></p>

<p><label for="option_order">Order</label><br/>
<%= text_field 'option', 'order'  %></p>
<!--[eoform:option]-->

